.test {
  color: red; }

.test2 {
  background-image: url("../../imgs/anh2.jpg");
  background-size: cover;
  background-position: center center;
  padding: 20px; }

div {
  height: 200px;
  width: 300px; }
